header nav {
  display: flex;
  justify-content: flex-end;
}
header {
  background-color: rgb(32, 32, 32);
}
header h1 {
  color: rgb(255, 251, 245);
  margin-left: 20px;
  text-shadow: 1px 1px 2px grey;
}
body{
  background-color: rgb(218, 218, 218);
  font-family: 'Roboto', sans-serif;
}
.borde {
  border: 1px solid rgb(27, 27, 27);
  margin: 4px;
  padding: 4px;
  box-shadow: 2px 2px 4px rgba(128, 128, 128, 0.719);
  border-radius: 5px;
}

main {
  min-height: 700px;
  background-color: rgb(95, 95, 95);
}
main h2 {
  color: white;
  margin-left: 15px;
  text-shadow: 1px 1px 2px black;
}
.oculto {
  visibility: hidden;
  display: none;
}
#cajaCatalogo {
  min-height: 500px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}
.adminProduct {
  display: flex;
  
  flex-wrap: wrap;
}
.adminInput {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100px;
}

.tarjetaProducto {
  position: relative;
  /* width: fit-content; */
  height: fit-content;
  justify-content: space-between;
  background-color: white;
}
.tarjetaProducto:hover {
  box-shadow: 4px 4px 6px grey;
}
.formProducto {
  display: flex;
  padding: 20px 0;
  /* background-color: rgba(33, 33, 124, 0.199); */
  background-color: rgb(218, 194, 168);
  
}
.formProducto div {
  display: flex;
  flex-direction: column;
  height: 50px;
  margin: 0 20px;
}
.formProducto button {
  margin: 5px;
  height: 50px;
}
/* .tarjetaProducto button {
  position: absolute;
  right: 0;
  top: 75%;
  margin: 0;
} */
.preImage {
  height: 250px;
  width: 250px;
  background-image: url(../img/NIKE-shoe-1.jpg);
  background-size: contain;
  border-bottom: 1px solid grey;
}
.smImage {
  height: 100px;
  width: 100px;
  background-image: url(../img/NIKE-shoe-1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.productoCarrito {
  margin: 10px;
}
.btnDelete {
  border: 1px solid black;
  background: rgb(116, 67, 67);
  color: black;
  border-radius: 75%;
  margin-left: 15px;
  position: absolute;
  right: 0;
  top: 0;
}
.btnDelete:hover {
  background-color: rgb(196, 196, 196);
  box-shadow: 1px 1px 2px red;
}

#cajaCarrito {
  width: 300px;
  min-height: 500px;
  background-color: rgba(255, 194, 194, 0.925);
  position: absolute;
  top: 190px;
  right: 50px;
  border-radius: 5px;
  /* visibility: hidden; */
}
#cajaCarrito ul li {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  transition: all 0.5s;
  box-shadow: 2px 2px 4px red;
}
#cajaCarrito ul li:hover {
  background-color: rgba(255, 0, 0, 0.164);
}
/* ADMIN */
#allProducts {
  min-height: 50px;
}
#adminBox {
  background-color: rgb(115, 119, 104);
}
#adminBox div{
  padding-bottom: 30px;
}
#formBox{
  background-color: rgb(218, 194, 168);
}
#totalNav{
  color: white;
}
#btnCarrito {
  padding: 10px;
  margin-left: 25px;
  border-radius: 50%;
  transition: all 0.5s;
}

#btnCarrito:hover {
  background-color: rgb(206, 206, 250);
  box-shadow: 2px 2px 4px white;
  
  
}
#btnAdmin {
  background-color: rgba(0, 0, 0, 0);
  /* border-radius: 50%; */
  border: none;
  border-radius: 50%;
  margin-left: 25px;
  transition: all 0.4s;
}
#btnAdmin span {
  color: white;
}
#btnAdmin span:hover {
  color: grey;
  text-shadow: 1px 1px 2px white;
}
#btnAdmin:hover {
  border-radius: 50%;
  /* box-shadow: -1px -1px 2px white; */
}
.btnAddProducto {
  position: absolute;
  top: 220px;
  right: 5px;
  padding: 10px;
  border-radius: 50%;
  transition: all 0.3s;
  border: 2px solid rgb(51, 80, 28);
}
.btnAddProducto:hover{
  background-color: rgb(87, 196, 73);
  padding: 12px;
}