header nav {
  display: flex;
  justify-content: flex-end;
}

.borde {
  border: 1px solid black;
  margin: 4px;
  padding: 4px;
}

main {
  min-height: 700px;
}
.oculto{
    visibility: hidden;
}
#cajaCatalogo {
  min-height: 500px;
  display: flex;
  flex-wrap: wrap;
}
.tarjetaProducto {
  position: relative;
  width: fit-content;
  height: fit-content;
}
.tarjetaProducto button {
  position: absolute;
  right: 0;
  top: 75%;
  margin: 0;
}
.preImage {
  height: 250px;
  width: 250px;
  background-color: grey;
}
.productoCarrito {
  margin: 10px;
}
.btnCarrito {
  border: 1px solid black;
  background: none;
  color: black;
  border-radius: 75%;
  margin-left: 15px;
  
}
.btnCarrito:hover {
  background-color: rgb(196, 196, 196);
  box-shadow: 1px 1px 2px red;
}

#cajaCarrito {
  width: 300px;
  min-height: 500px;
  background-color: rgba(128, 128, 128, 0.925);
  position: absolute;
  top: 120px;
  right: 25px;
  /* visibility: hidden; */
}
