nav {
  background-color: rgb(118, 118, 118);
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
  button {
    border-radius: 15px;
    height: 40px;
    margin-top: 30px;

    img {
      height: 30px;
    }
  }
  ul {
    display: flex;
    list-style: none;
    li {
      margin: auto;
      padding: 5px;
      background-color: rgb(151, 111, 111);
      border-radius: 10px;
      margin: 5px;
      padding: 10px;

      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}

.test-card{
  width: 300px;
}
